@page "/"
@inherits HomePage

<MudGrid Justify="Justify.Center">
    <MudItem lg="12" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Resumo Financeiro</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton 
                        Icon="@(ShowValues ? Icons.TwoTone.VisibilityOff : Icons.TwoTone.Visibility)"
                        OnClick="ToggleShowValues"/>
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent>
                <p><strong>SALDO</strong></p>
                @if(Summary is null)
                {
                    <div class="d-flex align-center justify-center" style="height: 350px">
                        <MudProgressCircular Indeterminate="true" Color="Color.Primary" />
                    </div>
                }
                else
                {
                    @if(Summary.Total > 0)
                    {
                        <MudText Color="Color.Success" Typo="Typo.h3">
                            @(ShowValues?Summary.Total.ToString("C"):"R$ ********")
                        </MudText>
                    }
                    else
                    {
                        <MudText Color="Color.Error" Typo="Typo.h3">
                            @(ShowValues ? Summary.Total.ToString("C") : "R$ ********")
                        </MudText> 
                    }

                    <br/>
                    <p><strong>ENTRADAS</strong></p>
                    <MudText Color="Color.Success">
                        @(ShowValues ? Summary.Incomes.ToString("C") : "R$ ********")
                    </MudText>
                    <br />
                    <p><strong>SAÍDAS</strong></p>
                    <MudText Color="Color.Error">
                        @(ShowValues ? Summary.Expenses.ToString("C") : "R$ ********")
                    </MudText>
                }
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem lg="12" md="12" sm="12" xs="12">
        <MudCard class="pa-4">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Entradas e Saídas</MudText>
            </MudCardHeader>
            <MudCardContent Class="justify-center">
                <Dima.Web.Components.Reports.IncomesAndExpensesChart />
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Entradas por Categoria</MudText>
            </MudCardHeader>
            <MudCardContent>
                <Dima.Web.Components.Reports.IncomesByCategoryChart />
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudCard Class="pa-8">
            <MudCardHeader>
                <MudText Typo="Typo.h6">Saídas por Categoria</MudText>
            </MudCardHeader>
            <MudCardContent>
                <Dima.Web.Components.Reports.ExpensesByCategoryChart />
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
